.topbar h3 a, .topbar .banner {
float: left;
display: block;
padding: 8px 20px 12px;
color: white;
font-size: 20px;
font-weight: 200;
line-height: 1;
}

.topbar div > ul.secondary-nav, .nav.secondary-nav {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}

.topbar div > ul.secondary-nav .menu-dropdown,
.nav.secondary-nav .menu-dropdown,
.topbar div > ul.secondary-nav .dropdown-menu,
.nav.secondary-nav .dropdown-menu {
  right: 0;
  border: 0;
}

.page-header {
  margin-top: 50px;
  margin-bottom: 17px;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.pic_row {
    margin-top: 40px;    
    margin-bottom: 12px;
}

.contactmepic {
    width: 940px;  
}

body {
    background-image:url('images/background.jpg');
}

.hero-unit > h1, h2, p{
    color: white;
}

